<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Confirmation</title>
    <link href="{{url_for('static', filename='confirmation_page.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

  <div class="container-fluid">
    <div class="jumbotron text-center full-height">
      <h1>Thank you, {{ username }}</h1>
      <p><em>Your email address of < {{ email }} > has ben confirmed.
          <br>You may now start using the CSAFE services.</em></p>
    </div>

    <footer class="text-center">
      <hr>
      <p><a href="http://blog.tecladocode.com/" target="_blank">Teclado</a></p>
    </footer>
  </div>

</body>
</html>